* {
    margin: 0;
}
h1 {
    margin-bottom: 2vh;
}

body {
    display: flex;
    margin: 20px 0 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table,
td {
    border: 1px solid #333;
}

td, th {padding: 5px;}

thead,
tfoot {
    background-color: #777;
    color: #fff;
}

.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tables {
    display: flex;
    flex-direction: column;
    width: 90vw;
    gap: 20px
}

.blink-red {
    animation: blinker-red 1s linear infinite;
}

@keyframes blinker-red {
    45% {
        background-color: red;
    }
    55% {
        background-color: red;
    }
}

.blink-green {
    animation: blinker-green 1s linear infinite;
}

@keyframes blinker-green {
    45% {
        background-color: green;
    }
    55% {
        background-color: green;
    }
}