* {
    margin: 0;
}
h1 {
    margin-bottom: 2vh;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
table,
td {
    border: 1px solid #333;
}

td, th {padding: 5px;}

thead,
tfoot {
    background-color: #777;
    color: #fff;
}

.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tables {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    gap: 2vw;
    justify-content: center;
}